# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]

# C extensions
*.c
*.so

# Distribution & Packaging
.eggs
build
dist

# Testing & Coverage
.pytest_cache
.tox
.coverage
*.egg-info

# Model caches
*.pymoca_cache

# Editors
.idea
.ipynb_checkpoints
.vscode

# Figures & results
*.png
*.html
*.pickle
*.csv
!tests/data/**/*.csv
*.json
output/
input_modelling_periods/